.App {
  /* text-align: center; */
  background-color: #00302E;
  margin: 0;
  /* max-width: 100%; */
  /* height: 100%; */
  /* width: 100%; */
}

.foodhub{
  display: inline;
  margin-left: 10px;
}

.container1{
  margin: auto;
  width: 100%;
}

.col-margin{
  margin-left: -70px;
}

.center-margin{
  margin: 100px 0px;
}

.con-h1{
  color: #ffff;
  font-weight: 800;
  font-size: 60px
}

.con-p1{
  font-size: 20px;
  color: #FFFFFFBD;

}

.con-1{
  margin-top: 200px;
}

.img1{
height: 400px;
width: 400px;
margin-left: 150px;
margin-top: -100px;
border-radius: 400px;

}

.img2{
height: 250px;
width: 250px;
margin-left: 40px;
border-radius: 400px;

}

.img3{
  height: auto;
  width: 100%;
  max-width: 60px;
  padding: 0px 10px;
  
  }

  .img4{
    height: auto;
    width: 100%;
    max-width: 55px;
    padding: 0px 10px;
    
    }


.nav-float{
  float: right;
  margin-top: 20px;
  margin-left: 800px;
}

/* Footer */

.bg-footer{
  height: 400px;
  background-color: #0B0D17;
}

.hr-footer{
  color: #FFFFFFBD;
  padding-top: 50px;
}

.tab-margin{
  padding-top: 60px;
}

.header1{
  font-size: 40px;
  color: #ffff;
  font-weight: 500;
}

.p2{
  color: #FFFFFFBD;
  font-size: 20px;
}

.con-center{
  text-align: center;
  margin-right: 10px;
}

.con-center h3{
  color: #FBDDBB;  ;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  

}

.con-center p{
  font-size: 18px;
  color: #FFFFFFD4;

}

.con-mt{
  margin: 150px 0px 150px 120px;
  width: 100%;
}

/* .con-b{
  text-align: center;
  margin-left: 2px;
} */

.con-b h3{
  color: #FBDDBB;
  font-size: 27px;
  font-weight: 600;
}
.con-b p{
  font-size: 15px;
  color: #FFFFFFD4;
}

.pxp{
  color: #FFFFFFD4;
  font-size: 15px;
}

.icon-margin{
  margin-top: 10px;
  margin-left: 250px;
}

.button1{
  background: #FBDDBB;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  border: none;
  margin-left: 5px;
  /* margin-top: -1px; */
}

.button2{
  display: inline;
  background: #FBDDBB;
  border-radius: 5px;
  width: 180px;
  height: 51px;
  border: none;
  margin-left: 5px;
}

.button3{
  background: #928f8f;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  border: none;
  margin-left: 5px;
  color: #ffffff;
  /* margin-top: -1px; */
}

.app-btn{
  height: 25px;
  padding: 0px 5px 0px 0px;
  
}

.app-btn1{
  height: 25px;
  padding: 0px 7px 0px 0px;
  
}

/* .button3 p{
  font-size: 2px;
  display: inline;
} */

.func-con{
 /* display: inline; */
 margin-top: 20px;

}

.input-pro{
  width: 299px;
  height: 51px;
  margin-left: 2px;
  border-radius: 5px;
  border: none;
}

.br2{
  display: none;
}

.brbr{
  display: none;
}

@media screen and (max-width: 680px) {
/* 
  .App{
    max-width: 100%;
  } */

  .con-1{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .img1{
    height: 130px;
    width: 130px;
    margin-left: -5px;
    margin-top: -45px;
    border-radius: 100px;
    
    }

    .img2{
      height: auto;
      width: 100%;
      max-width: 100px;
      margin-left: 8px;
      left: 131px;
      top: 1108px;
      /* border-radius: 400px; */
      
      }

    .col-margin{
      margin-top: -20px;
      margin-left: 5px;
    }

    .con-h1{
      color: #ffff;
      font-weight: 400;
      font-size: 23px;
    }
    
    .con-p1{
      font-size: 12px;
      color: #FFFFFFBD;
    
    }

    .header1{
      font-size: 18px;
      color: #ffff;
      font-weight: 500;
    }
    
    .p2{
      color: #FFFFFFBD;
      font-size: 10px;
      padding: 0px 30px;
    }

    .center-margin{
      margin: 30px 0px;
    }

    .con-2{
      width: 65%;
    }

    .con-img{
      width: 35%;
    }

    .con-center{
      margin-left: 5px;
    }

    .con-center h3{
      color: #FBDDBB;  ;
      margin-top: 10px;
      font-size: 15px;
      font-weight: 700;
    }

    .con-center p{
      font-size: 12px;
      color: #FFFFFFD4;
    
    }

    .con-mt{
      margin: 50px 0px;
    }

    /* .con-mt1{
      margin: 0px 0px 0px 20px;
      width: 60%;
    } */

    .con-b{
      margin-top: 10px;
    }

    .con-b h3{
      color: #FBDDBB;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
    }

    .con-b p{
      font-size: 6px;
      color: #FFFFFFD4;
      margin-left: 26px;
    }

    .pxp{
      color: #FFFFFFD4;
      font-size: 10px;
    }

    .img3{
      height: auto;
      width: 100%;
      max-width: 30px;
      padding: 0px 5px;
      
      }
    
      .img4{
        height: auto;
        width: 100%;
        max-width: 25px;
        padding: 0px 5px;
        
        }

    .icon-margin{
      /* margin-top: -60px; */
      margin-left: 50px;
    }

    .input-pro{
      width: 90px;
      height: 21px;

      border-radius: 5px;
      border: none;
    }

    .button2{
      background: #FBDDBB;
      border-radius: 5px;
      width: 80px;
      font-size: 8px;
      font-weight: 400;
      height: 21px;
      border: none;
      /* margin-left: 3px; */
    }


    .bg-footer{
      height: 370px;
      /* background-color: #0B0D17; */
    }

    .hr-footer{
      color: #FFFFFFBD;
      padding-top: 10px;
    }

    .tab-margin{
      padding-top: 20px;
    }

    .br2{
      display: block;
    }

    .br3{
      display: none;
    }

    .app-btn{
      height: 20px;
      padding: 0px 5px 0px 0px;
      
    }
    .app-btn1{
      height: 20px;
      padding: 0px 5px 0px 0px; 
    }

    .button3{
      background: #928f8f;
      border-radius: 5px;
      width: 120px;
      height: 30px;
      border: none;
      margin-left: 2px;
      color: #ffffff;
      /* margin-top: -1px; */
    }
    
  
}

