body{
    margin: 0;
    height: 100vh;
}

.row-con{
    padding-left: 0;
    padding-right: 0;
}
.container1{
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.login-con2{
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 100px;
}

.login-form{
    display: block;
    justify-content: center;
}

.login-img{
    height: 100vh;
    width: 100%;
}

.input-con{
    padding-bottom: 40px;
}

.fa-eye-slash{
    position: absolute;
    margin-left: 370px;
    margin-top: -25px;
    font-size:15px;
    cursor:pointer;}
.fa-eye{
    position: absolute;
    margin-left: 370px;
    margin-top: -25px;
    cursor:pointer;}

.fa-envelope{
    position: absolute;
    left: 5px;
    cursor:pointer;
}
.fa-lock{
    position: absolute;
    left: 5px;
    top: 15px;
    cursor:pointer;
    font-size:15px;
}

h1{
    text-align: center;
    padding-bottom: 40px;
    font-weight: 400;
    color: #00302E;
}

.btn-button1{
    width: 500px;
}

.pass{
    display: inline;
}

.btn-color{
    background: #00302E;
    color: #fbddbb;
    font-size: 25px;
    font-weight: 400;
}

.login-auth{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.login-link{
    text-decoration: none;
    color: #00302E;
}

.login-link:hover{
    color: #fbddbb;
}

@media screen and (max-width: 680px) {
    .btn-button1{
        width: 300px;
    }  

    .login-con2{
        padding: 0px 10px;
        width: 350px;
        margin-top: 30px;
    }

    .fa-eye-slash{
        position: absolute;
        margin-left: 300px;
    }
    .fa-eye{
        position: absolute;
        margin-left: 300px;
    }

    .login-img{
        height: 500px;
        width: 100%;
    }

    .login-form{
        margin-bottom: 30px;
    }
    
    }
